<a href="https://colab.research.google.com/github/eleanataylor000/MIS2800/blob/main/Taylor_Prep3_NFL_Scouting_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Step 1: Import SQLite & Connect to Database

In [2]:
import sqlite3
# Connect to (or create) the database
conn = sqlite3.connect('NFL_Scouting.db')
# Create a cursor object to run SQL commands
cursor = conn.cursor()
print("Database connected successfully")

Database connected successfully

# Step 2: Create the Table

In [4]:
# Create scouting_stats table
cursor.execute("""
CREATE TABLE IF NOT EXISTS scouting_stats (
    team_name TEXT,
    city TEXT,
    wins INTEGER,
    points_per_game REAL
)
""")
conn.commit()
print("Table created successfully")

Table created successfully

# Step 3: Insert Sample Data

In [6]:
# Insert sample NFL team data
cursor.execute("""
INSERT INTO scouting_stats (team_name, city, wins, points_per_game)
VALUES
    ('Chiefs', 'Kansas City', 11, 29.2),
    ('Bills', 'Buffalo', 10, 26.5),
    ('Cowboys', 'Dallas', 12, 27.8),
    ('Jets', 'New York', 7, 18.6)
""")
conn.commit()
print("Data inserted successfully")

Data inserted successfully

# Step 4: Filter Teams Averaging More Than 24 Points per Game

In [8]:
cursor.execute("""
SELECT * FROM scouting_stats
WHERE points_per_game > 24
""")
results = cursor.fetchall()
print("Teams averaging more than 24 points per game:")
for row in results:
    print(row)

Teams averaging more than 24 points per game:
('Chiefs', 'Kansas City', 11, 29.2)
('Bills', 'Buffalo', 10, 26.5)
('Cowboys', 'Dallas', 12, 27.8)

# Step 5: Sort Teams by Wins (Descending)

In [10]:
cursor.execute("""
SELECT * FROM scouting_stats
ORDER BY wins DESC
""")
results = cursor.fetchall()
print("Teams sorted by wins (highest to lowest):")
for row in results:
    print(row)

Teams sorted by wins (highest to lowest):
('Cowboys', 'Dallas', 12, 27.8)
('Chiefs', 'Kansas City', 11, 29.2)
('Bills', 'Buffalo', 10, 26.5)
('Jets', 'New York', 7, 18.6)

# Step 6: Combo Challenge

In [12]:
cursor.execute("""
SELECT * FROM scouting_stats
WHERE wins > 5
ORDER BY city ASC
""")
results = cursor.fetchall()
print("Teams with more than 5 wins, sorted by city:")
for row in results:
    print(row)

Teams with more than 5 wins, sorted by city:
('Bills', 'Buffalo', 10, 26.5)
('Cowboys', 'Dallas', 12, 27.8)
('Chiefs', 'Kansas City', 11, 29.2)
('Jets', 'New York', 7, 18.6)

# Step 7: Save and Submit

In [13]:
conn.close()
print("Database connection closed")

Database connection closed